.footer-container {
  background-color: var(--secondary-bg);
  backdrop-filter: blur(10px);
  padding: 20px;
  text-align: center;
  color: var(--primary-text);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  margin-top: auto;
  display: flex;
  justify-content: space-around;
}

.footer-section h3 {
  color: var(--accent-color);
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: var(--primary-text);
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: var(--accent-color);
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}
